<!-- home-page.component.html -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">SpendingTrackProject</a>
    <div class="ms-auto">
      <button class="btn btn-primary me-2" (click)="goToLogin()">Sign in</button>
      <button class="btn btn-secondary" (click)="goToRegister()">Sign up</button>
    </div>
  </nav>
  
  <div class="container text-center mt-5">
    <h1>Welcome to Track Spending Project</h1>
  
    <p class="lead">
      This application helps you track your spending easily. You can register and start managing your expenses.
    </p>
  </div>
  