<router-outlet />
<footer class="footer bg-light text-center py-3">
  <p>
    © 2025 SpendingTrackProject | 
    <a href="https://github.com/DavidToro1000" target="_blank" class="text-primary text-decoration-none">
      <img src="https://banner2.cleanpng.com/20180920/aey/kisspng-scalable-vector-graphics-github-computer-icons-log-github-brand-octacat-social-svg-png-icon-free-down-5ba35d7db54fe5.6273953815374329577427.jpg" alt="GitHub" width="20" height="20" class="me-1">
      GitHub
    </a>
  </p>
</footer>
